{% extends 'index.html' %}

{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% if cartlist %}
                {% for i in cartlist %}
                <div class="col mb-5">
                    <div class="card h-100" style="background-color: rgb(234, 233, 228); color: black;">
                        <!-- Product image -->
                        <img class="card-img-top" src="{{ i.product.image.url }}" alt="{{ i.product.product_name }}" />
                        <!-- Product details -->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name -->
                                <h5 class="fw-bolder">{{ i.product.product_name }}</h5>
                                <!-- Product price -->
                                <p>Price: {{ i.product.price }}</p>
                                <p>Quantity: {{ i.quantity }}</p>
                            </div>
                        </div>
                        <!-- Product actions -->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent d-flex align-items-center justify-content-between">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="{% url 'order_view' i.id %}">Order</a>
                            </div>
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="#">Remove</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">Cart is empty</h5>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}