{% extends 'index.html' %}

{% block content %}

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-3">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for i in products %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{i.image.url}}" alt="..." style="height: 200px; object-fit: cover;" />
                    <!-- Product details-->
                    <div class="card-body p-2" style="height:120px">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder" style="font-size: 1rem;">{{i.product_name}}</h5>
                            <p style="font-size: 0.875rem;">{{i.description}}</p>
                            <!-- Product price-->
                            <span style="font-size: 0.875rem;">{{i.price}}</span>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-2 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'addcart_view' i.id%}">order now</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
