<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>clear table</title>
    <!-- Bootstrap CSS for styling -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2>Are you sure that you want to performe this action</h2>
        <form method="post" action="{% url 'delete_orders' user_id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes, confirm</button>
            <a href="{% url 'admin_order_view' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</body>
</html>